<% provide(:title, "New") %>
<h1>WebCollections#new</h1>

  <%= form_with(model: @collection, url: new_path, local: true) do |f| %>

    <%= render 'shared/error_messages' %>

    <div class="form-outline mb-4">
      <%= f.text_field :title, class: 'form-control' %>
      <%= f.label :title, class: 'form-label' %>
    </div>
  
    <div class="form-outline mb-4">
      <%= f.url_field :url, class: 'form-control' %>
      <%= f.label :url, class: 'form-label' %>
    </div>

    <%= f.label :image, class: 'form-label' %>
    <div class="form-outline mb-4">
      <%= f.file_field :image, accept: 'image/jpg,image/jpeg,image/gif,image/png',
                               id: 'customFile', class: 'form-control' %>
    </div>
      
      <%= f.submit 'Save', class: 'btn btn-primary btn-block mb-4' %>
  <% end %>
